<div class="row" *ngIf="user">
    <div class="col-12">
        <p>
            <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Añadir a tu bolsa
            </a>
        </p>
        <div class="collapse" id="collapseExample" #collapse>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <form [formGroup]="userWalletAddForm" (ngSubmit)="addWallet(userWalletAddForm.value)">
                            <div class="form-group">
                                <label for="userwallet">Ingresa un monto</label>
                                <input type="number" class="form-control" id="userwallet" formControlName="userwallet">
                            </div>
                            <div *ngIf="userWalletAddForm.get('userwallet').invalid && (userWalletAddForm.get('userwallet').dirty || userWalletAddForm.get('userwallet').touched)"
                                class="alert alert-danger">
                                <div *ngIf="userWalletAddForm.get('userwallet').errors.required">
                                    Ingresa un monto
                                </div>
                                <div *ngIf="userWalletAddForm.get('userwallet').errors.pattern">
                                    Monto no valido
                                </div>
                            </div>
                            <button [disabled]="userWalletAddForm.invalid" type="submit"
                                class="btn btn-primary">Añadir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-3 mt-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{user.UserDescription}}" class="card-img img-thumbnail" style="width: 300px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Nombre: {{user.UserName}}</h4>
                        <p class="card-text">Correo electronico: {{user.UserEmail}}</p>
                        <p class="card-text">Tu bolsa: S/. {{user.UserWallet}}</p>
                        <p class="card-text" *ngIf="user.UserNumberContact!=000000000">Numero de
                            contacto:
                            {{user.UserNumberContact}}</p>


                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer text-center">

                        <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#exampleModal">
                            Modificar un número de contacto
                        </button>
                        <div class="modal fade" id="exampleModal" #modal tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form [formGroup]="userNumberAddForm"
                                        (ngSubmit)="addNumber(userNumberAddForm.value)">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modificar número de
                                                contacto</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="UserNumberContact">Ingresa un numero de contacto</label>
                                                <input type="number" class="form-control" id="UserNumberContact"
                                                    formControlName="usernumbercontact">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary"
                                                [disabled]="userNumberAddForm.invalid">Añadir</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" routerLink="/main/participation">Ver participaciones</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>