<p>
    <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Añadir a tu bolsa
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <form>
                    <div class="form-group">
                        <label for="userwallet">Ingresa un monto</label>
                        <input type="number" class="form-control" id="userwallet">
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </form>
            </div>
        </div>
    </div>
</div>
<p>user works!</p>