<!-- Sidebar -->
<div class="bg-info border-right text-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center">Charity</div>
    <div class="list-group list-group-flush">
        <a routerLink="/project" class="list-group-item list-group-item-action bg-info text-white" ><i class="fa fa-tasks"></i> Proyectos</a>
        <a routerLink="/donation" class="list-group-item list-group-item-action bg-info text-white" ><i class="fa fa-money" aria-hidden="true"></i> Donaciones</a>
        <a routerLink="/home" class="list-group-item list-group-item-action bg-info text-white"><i class="fa fa-address-book" aria-hidden="true"></i> Sobre nosotros</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->
