<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Nombre del proyecto</h5>
                </div>
                <div class="row">
                    <div class="col-12">
                        Descripcion
                    </div>
                    <div class="col-12">
                        Fecha
                    </div>
                    <div class="col-12">
                        Participantes
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>