<div *ngIf="props != null && props.selectedProject != null; else elseBlock" class="card">
    <div class="card-body">
        <h4 class="card-title">{{props.selectedProject.ProjectName}}</h4>
        <div class="card-text">
            <p>{{props.selectedProject.ProjectDescription}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Fecha de inicio: {{props.selectedProject.ProjectDateInit | date}}</li>
            <li class="list-group-item">Fecha de fin: {{props.selectedProject.ProjectDateClose | date}}</li>
        </ul>
        <app-donation-detail></app-donation-detail>
        <app-donation-add
            *ngIf="props.selectedProject.UserOwnerId!=props.idUser" 
            [projectId]="props.selectedProject._id">
        </app-donation-add>
        <app-participation-add 
            *ngIf="props.selectedProject.UserOwnerId!=props.idUser"
            [props]="participationAddProps">
        </app-participation-add>
    </div>

    <app-donation-list [props]="donationsListProps"></app-donation-list>
    <app-participation-list [props]="participationListProps"></app-participation-list>

</div>

<ng-template #elseBlock>
    <div class="card" style="height: 15rem;">
        <div class="card-body text-center">
            <div class="loader card-img-top"></div>
            <h5 class="card-title">Selecciona un proyecto</h5>
            <h6 class="card-subtitle mb-2 text-muted">En esta sección se mostraran los detalles del proyecto que
                selecciones.</h6>
        </div>
    </div>
</ng-template>