<div class="row">
  <div class="col-4">
    <a routerLink="/main/project">
      <div class="card text-white bg-warning mb-3" style="height: 130px;">
        <div class="card-body">
          <h5 class="card-title">Todos los proyectos</h5>
          <p class="card-text">Dirigete a todos los proyectos que hay en la aplicación.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4">
    <a routerLink="/main/project/owner">
      <div class="card text-white bg-secondary mb-3"  style="height: 130px;">
        <div class="card-body">
          <h5 class="card-title">Mis proyectos</h5>
          <p class="card-text">Dirigete a todos los proyecto de los que eres propietario.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4">
    <a routerLink="/main/participation">
    <div class="card text-white bg-success mb-3"  style="height: 130px;">
      <div class="card-body">
        <h5 class="card-title">Participaciones</h5>
        <p class="card-text">Dirigete a todos los proyectos donde estas participando.</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-4">
    <a routerLink="/main/donation">
      <div class="card text-white bg-danger mb-3"  style="height: 130px;">
        <div class="card-body">
          <h5 class="card-title">Mis donaciones</h5>
          <p class="card-text">Dirigete a la lista de donaciones que hayas realizado.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4">
    <a routerLink="/main/user">
      <div class="card text-white bg-info mb-3"  style="height: 130px;">
        <div class="card-body">
          <h5 class="card-title">Perfil</h5>
          <p class="card-text">Dirigete a los detalles de tu usuario.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4">
    <div class="card text-white bg-dark mb-3"  style="height: 130px;">
      <div class="card-body">
        <h5 class="card-title">Configuración</h5>
        <p class="card-text">Dirigete al menu de configuración.</p>
      </div>
    </div>
  </div>
</div>