<div class="container">
    <h3>Coming projects</h3>
    <div class="row" *ngFor="let donation of donationsOnOpenProjects">
        <div class="col">{{donation.Project.ProjectName}}</div>
        <div class="col">{{donation.DonationAmount}}</div>
        <div class="col">{{donation.DonationDate}}</div>
    </div>
</div>

<div class="container">
    <h3>Closed projects</h3>
    <div class="row" *ngFor="let donation of donationsOnClosedProjects">
        <div class="col">{{donation.Project.ProjectName}}</div>
        <div class="col">{{donation.DonationAmount}}</div>
        <div class="col">{{donation.DonationDate}}</div>
    </div>
</div>